body {
  color: white;
  background-color: black;
  text-align: center;
  font-family: 'Lora', serif;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.scrollDisplay {
  font-family: Arial;
  position: fixed;
  text-align: right;
  right: 5px;
  top: 5px;
  color: black;
  background-color: rgba(255,255,255,0.7);
  width: 200px;
  padding: 5px;
  z-index: 9999;
  display: none;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
  margin: 10px 0;
}
h1 span, h2 span, h3 span, h4 span, h5 span {
  color: red;
}
h1 { font-size: 100px; margin: 67px 0; }
h2 { font-size: 80px; }
h3 { font-size: 60px; }
h4 { font-size: 40px; }
h5 { font-size: 30px; }

.big {
  font-size: 80px;
}

.black-bg {
  background-color: black;
  width: 100%;
  color: white;
}

.spacer-25  { height: 25px;   clear: both; }
.spacer-50  { height: 50px;   clear: both; }
.spacer-100 { height: 100px;   clear: both; }
.spacer-200 { height: 200px;   clear: both; }
.spacer-300 { height: 300px;   clear: both; }
.spacer-400 { height: 400px;   clear: both; }
.spacer-500 { height: 500px;   clear: both; }
.spacer-600 { height: 600px;   clear: both; }
.spacer-700 { height: 700px;   clear: both; }

/* emojis */

.emoji_flotante {
  position: absolute;
  width: 400px;
  height: 400px;
  background-size: cover;
  opacity: 0;
}

.emoji_amor {
  background-image: url('emoji_amor.png');
  top: 20px;
  left: 150px;
}
.emoji_odio {
  background-image: url('emoji_odio.png');
  top: 20px;
  right: 150px;
}
.emoji_pensando {
  opacity: 0;
}

/* LISTA DE NOMBRES ALTERNATIVOS */
.align-right {
  text-align: right;
}
.red {
  color: red;
}
.nombres {
  font-family: 'Roboto Slab', serif;
  position: absolute;
  width: 100%;
  height: 500px;
  font-size: 70px;
}
.nombres .nombre {
  position: relative;
  clear: both;
}
.nombres .align-right {
  width: 700px;
  left: 50%;
  margin-left: -700px;
}
.nombres .red {
  width: 700px;
  left: 50%;
  text-align: left;
}
.nombres .nombre > div {
  position: absolute;
}
.nombres .nombre {
  display: none;
}
.nombres .nombre.n0 {
  display: block;
}

.redCenter {
  width: 100%;
  color: red;
  text-align: center;
}


.petalo {
  position: absolute;
  width: 200px;
  height: 180px;
  margin: 0 auto;
  left: 50%;
  margin-left: -100px;
  margin-top: 30px;
}
.petalo:before,
.petalo:after {
  position: absolute;
  content: "";
  left: 100px;
  top: 0;
  width: 100px;
  height: 160px;
  background: #A0A0A0;
  border-radius: 100px 100px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.petalo:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.flor {
  position: absolute;
  width: 100%;
  text-align: center;
}

.agua {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #C8C9F6;
  left: 50%;
  margin-left: -100px;
  margin-top: -10px;
  z-index: 4;
}

.tierra, .aire, .fuego {
  transform-origin: top center;
  line-height: 100px;
  opacity: 1;
}
.tierra span, .aire span, .fuego span {
  position: absolute;
  display: none;
  z-index: 5;
}

.petalo.tierra { z-index: 3; }
.petalo.tierra:before, .petalo.tierra:after {
  background-color: #E7CF33;
}
.petalo.aire { z-index: 2; }
.petalo.aire:before, .petalo.aire:after {
  background-color: #C6A46E;
}
.petalo.fuego { z-index: 1; }
.petalo.fuego:before, .petalo.fuego:after {
  background-color: #BB98B4;
}

.ref {
  opacity: 0;
  text-align: left;
  position: absolute;
  margin-left: 50%;
  border-top: 4px solid black;
  font-family: 'Roboto Slab', serif;
  font-size: 80px;
}

.ref .subtexto {
  font-size: 30px;
}

.ref .titulo {
  display: inline-block;
  padding: 6px 20px 10px 20px;
}

.ref_agua {
  text-align: right;
  margin-top: 88px;
  border-color: #C8C9F6;
  color: #C8C9F6;
  width: 850px;
  z-index: 4;
}
.ref_agua .titulo {
  background-color: #C8C9F6;
  color: white;
}
.ref_tierra {
  margin-top: 255px;
  border-top: none;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-color: #E7CF33;
  color: #E7CF33;
  width: 820px;
  margin-left: 6%;
  z-index: 3;
}
.ref_tierra .titulo {
  background-color: #E7CF33;
  color: white;
}
.ref_aire {
  border-right: 4px solid;
  border-color: #C6A46E;
  color: #C6A46E;
  width: 730px;
  height: 260px;
  margin-top: -300px;
  margin-left: 5%;
  z-index: 2;
}
.ref_aire .titulo {
  background-color: #C6A46E;
  color: white;
}
.ref_fuego {
  margin-top: -160px;
  margin-left: 55%;
  border-color: #BB98B4;
  color: #BB98B4;
  z-index: 1;
  width: 600px;
  text-align: right;
}
.ref_fuego .titulo {
  background-color: #BB98B4;
  color: white;
}

.cash {
  z-index: 100;
  position: absolute;
  left: 904px;
  top: 10px;
  width: 116px;
  height: 72px;
  background-image: url('dinero.png');
  opacity: 0;
}
.cash.c1 { z-index: 110; }
.cash.c2 { z-index: 109; top: 22px;}
.cash.c3 { z-index: 108; top: 34px;}
.cash.c4 { z-index: 107; top: 46px;}
.cash.c5 { z-index: 106; top: 58px;}
.cash.c6 { z-index: 105; top: 70px;}
.cash.c7 { z-index: 104; top: 82px;}
.cash.c8 { z-index: 103; top: 94px;}

.video1, .video2 {
  display: none;
  position: absolute;
  z-index: 300;
}
.video1 {
  margin-top: -364px;
  margin-left: -809px;
}
.video2 {
  margin-top: -135;
  margin-left: 191px;
}

/* PIRAMIDE */
.piramide {
  text-align: center;
  opacity: 0;
}
.nivel {
}
.bloque {
  display: inline-block;
  background-color: red;
  height: 80px;
  position: relative;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 6px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}


.ganadores.nivel.n6.splitting .bloque { margin-right: 2px !important; }
.ganadores.nivel.n7.splitting .bloque { margin-right: 1px !important; }
.ganadores.nivel.n8.splitting .bloque { margin-right: 1px !important; }

/* nivel 4 */
.nivel.n4.yaEsAgua .bloque:nth-child(1) { margin-right: 80px !important; }
.nivel.n4.yaEsAgua .bloque:nth-child(4) { margin-right: 80px !important; }
.nivel.n4.yaEsAgua .bloque:nth-child(7) { margin-right: 80px !important; }
.nivel.n4.yaEsAgua .bloque:nth-child(10) { margin-right: 80px !important; }

/* nivel 5 */
.nivel.n5.yaEsTierra .bloque:nth-child(2) { margin-right: 80px !important; }
.nivel.n5.yaEsTierra .bloque:nth-child(7) { margin-right: 80px !important; }
.nivel.n5.yaEsTierra .bloque:nth-child(12) { margin-right: 80px !important; }
.nivel.n5.yaEsTierra .bloque:nth-child(17) { margin-right: 80px !important; }

.nivel.n5.yaEsAgua .bloque { margin-right: 70px !important; }
.nivel.n5.yaEsAgua .bloque:last-of-type { margin-right: 0px !important; }

/* nivel 6 */
.nivel.n6.splitting .bloque:nth-of-type(8n) { margin-right: 30px !important; }
.nivel.n6.splitting .bloque:last-of-type    { margin-right: 0px !important; }
.nivel.n6.yaEsTierra .bloque:nth-child(2n) { margin-right: 55px !important; }
.nivel.n6.yaEsTierra .bloque:last-child    { margin-right: 0px !important; }
.nivel.n6.yaEsAire .bloque:nth-child(4n) { margin-right: 55px !important; }
.nivel.n6.yaEsAire .bloque:last-child    { margin-right: 0px !important; }

/* nivel 7 */
.nivel.n7.splitting .bloque:nth-of-type(4n) { margin-right: 60px !important; }
.nivel.n7.splitting .bloque:nth-of-type(32) { margin-right: 0px !important; }
.nivel.n7.splitting .bloque:last-of-type    { margin-right: 0px !important; }
.nivel.n7.yaEsAire .bloque:nth-of-type(4n) { margin-right: 26px !important; }
.nivel.n7.yaEsAire .bloque:nth-of-type(32) { margin-right: 26px !important; }
.nivel.n7.yaEsAire .bloque:last-of-type    { margin-right: 0px !important; }

/* nivel 8 */
.nivel.n8.splitting .bloque:nth-of-type(4n) { margin-right: 10px !important; }
.nivel.n8.splitting .bloque:nth-of-type(64) { margin-right: 0px !important; }
.nivel.n8.splitting .bloque:last-of-type    { margin-right: 0px !important; }

/* nivel 8 */
.nivel.n9.splitting .bloque:nth-of-type(4n) { margin-right: 10px !important; }
.nivel.n9.splitting .bloque:nth-of-type(64) { margin-right: 0px !important; }
.nivel.n9.splitting .bloque:nth-of-type(128) { margin-right: 0px !important; }
.nivel.n9.splitting .bloque:nth-of-type(192) { margin-right: 0px !important; }
.nivel.n9.splitting .bloque:last-of-type    { margin-right: 0px !important; }







/* .nivel._fuego.n6 .bloque:nth-child(1) { margin-left: 20px !important; }
.nivel._fuego.n6 .bloque:nth-child(32) { margin-right: 0 !important; }
*/

.n1 .bloque { width: 320px; }
.n2 .bloque { width: 320px; }
.n3 .bloque { width: 240px; }
.n4 .bloque {  width: 118px; }
/* overriden!!!  a partir de aca, en codigo! agregarNivel() targetW */
.n5 .bloque {  width: 61px; }
.n6 .bloque {  width: 36px; margin-left: 2px; margin-right: 2px; }
.n7 .bloque {  width: 20px; margin-left: 1px; margin-right: 1px; height: 50px; }
.n8 .bloque {  width: 12px; margin-left: 1px; margin-right: 1px; height: 30px; }
.n9 .bloque {  width: 5px; margin-left: 1px; margin-right: 1px; height: 20px; }
._agua    .bloque { background-color: #C8C9F6; }
._tierra  .bloque { background-color: #E7CF33; }
._aire    .bloque { background-color: #C6A46E; }
._fuego   .bloque { background-color: #BB98B4; }
.relleno {
  background: #00FF00;
  box-shadow: 0 0 10px #00FF00;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 0%;
  opacity: 0;
}
.piramide.vizMoney   ._fuego .relleno {
  height: 100%;
}
/* green #A3FFA3 */
/* red   #FFA4A4 */
.piramide.vizMoney   ._agua    .bloque { background-color: #C0C0C0; }
.piramide.vizMoney   ._tierra  .bloque { background-color: #C0C0C0; }
.piramide.vizMoney   ._aire    .bloque { background-color: #C0C0C0; }
.piramide.vizMoney   ._fuego   .bloque { background-color: #FF0000; }

.ganadores .bloque {
  /* careful!!!! SIZE OVERRIDEN IN CODE! */
  width: 20px;
  height: 40px;
  position: relative;
  margin-right: 3px !important;
}
.ganadores .tmpSplit, .ganadores .tmpSplitB {
  width: 0;
}

.tmpSplit, .tmpSplitB {
  display: inline-block;
  width: 0;
}

.contadores {
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  font-size: 40px;
  z-index: 99;
  text-align: left;
  pointer-events: none;
}
.contadores > div {
  position: absolute;
  left: 30px;
}
.ganadoresNum, .perdedoresNum {
  font-weight: bold;
  display: block;
  font-size: 150px;
  line-height: 130px;
}

.contadores .ganadores {
  opacity: 0;
  color: #00FF00;
  text-shadow: 0 0 10px #00FF00;
  top: 100px;
}
.contadores .perdedores {
  opacity: 0;
  color: #FF0000;
  bottom: 30px;
}

.simulaciones {
  font-family: 'Ubuntu Mono';
  width: 100%;
  height: 1080px;
  background-color: #707070;
}

.sim_left {
  width: 48%;
  height: 100%;
  float: left;
}
.sim_right {
  width: 48%;
  height: 100%;
  float: right;
  background-color: black;
  position: relative;
}

.simulaciones .sim {
  width: 100%;
  height: 588px;
  background-color: white;
  float: left;
  margin: 30px;
  margin-right: 0;
  margin-bottom: 0;
  overflow: hidden;
}
.simulaciones .sim.colapsado {
  height: 115px;
  opacity: 0.1;
}

.simulaciones .sim h5 {
  margin-top: -10px;
  color: #909090;
  margin-bottom: 0;
}

.simulaciones .sim .titulos {
  height: 105px;
  border-bottom: 2px solid #707070;
  width: 90%;
  margin: 0 auto;
}

.sim_data {
  padding: 10px 30px 30px 30px;
  text-align: left;
  font-size: 20px;
}

.sim_table {
  display: none;
  width: 100%;
  border: 1px solid black;
  background-color: black;
}
.sim_table .tabla_titulos td {
  font-weight: bold;
}
.sim_table td {
  padding: 2px;
  background-color: white;
}
.sim_table td.count, .sim_table td.right {
  text-align: right;
}
.sim_table .barContainer {
  position: relative;
  background-color: #404040;
}
.sim_table .bar {
  top: 0;
  left: 0;
  bottom: 0;
  width: 0%;
  background-color: gray;
  position: absolute;
  line-height: 24px;
  -webkit-transition: width 0.4s; /* Safari prior 6.1 */
}
.capital_0 .bar { background-color: red; }
.capital_1 .bar { background-color: yellow; }
.capital_2 .bar { background-color: #449944; }
.capital_3 .bar { background-color: #22BB22; }
.capital_4 .bar { background-color: #00CC00; }
.capital_5 .bar { background-color: #00FF00; }

.sim2 .capital_0 .bar { background-color: red; }
.sim2 .capital_1 .bar { background-color: #ff7700; }
.sim2 .capital_2 .bar { background-color: yellow; }
.sim2 .capital_3 .bar { background-color: #22BB22; }
.sim2 .capital_4 .bar { background-color: #00CC00; }
.sim2 .capital_5 .bar { background-color: BLACK; }

.floatRight {
  float: right;
  width: 48%;
}
.floatLeft {
  float: left;
  width: 48%;
}
.clear {
  clear: both;
}
.dato, .sim_table {
  margin-top: 20px;
}

.viz2, .viz1, .viz3, .viz4 {
  opacity: 0;
}
.viz2 {
  background-color: white;
  width: 100%;
  height: 100%;
}
.viz2 .nodo {
  width: 50px;
  height: 244px;
  position: absolute;
  left: 40%;
  top: 40%;
}
.viz2 .nodo .circulo {
  background-color: gray;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  z-index: 99;
  position: absolute;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.viz2 .nodo .dinero_positivo {
  margin-bottom: -4px;
  margin-left: 11px;
  height: 21px;
  margin-top: 129px;
  width: 30px;
  background-color: #00AA00;
  z-index: 10;
  -webkit-transition: all 0.3s ease;
}
.viz2 .nodo .dinero_negativo {
  position: absolute;
  top: 60%;
  margin-top: 48px;
  -webkit-transition: all 0.3s ease;
  margin-left: 11px;
  height: 0px;
  width: 30px;
  background-color: #AA0000;
  z-index: 10;
  -webkit-transition: all 0.3s ease;
}

/*
   2  3
 1      4
 8      5
   7  6
*/
.viz2 .nodo1, .viz2 .nodo4 { top: 20%; }
.viz2 .nodo2, .viz2 .nodo3 { top: 5%; }
.viz2 .nodo5, .viz2 .nodo8 { top: 55%; }
.viz2 .nodo6, .viz2 .nodo7 { top: 65%; }
.viz2 .nodo1, .viz2 .nodo8 { left: 10%; }
.viz2 .nodo4, .viz2 .nodo5 { left: 80%; }
.viz2 .nodo2, .viz2 .nodo7 { left: 35%; }
.viz2 .nodo3, .viz2 .nodo6 { left: 55%; }

.vizX {
  background-color: #707070;
  height: 100%;
}
.vizX .bloq {
  display: block;
  width: 97.3%;
  border-bottom: 4px solid #707070;
  padding: 15px 4px 4px 12px;
  line-height: 4px;
  text-align: left;
  min-height: 100px;
  background-color: black;
}
.vizX .bloq0 {
  border-top: 4px solid #707070;
}
.vizX .bloq h4 {
  margin-top: 6px;
  padding-top: 6px;
  padding-bottom: 20px;
}
.vizX .bloq .white,
.vizX .bloq .whiteR {
  color: black;
  background-color: white;
  -webkit-transition: all 0.3s ease;
}
.vizX .bloq .red,
.vizX .bloq .redR {
  color: black;
  background-color: red;
  -webkit-transition: all 0.3s ease;
}
.vizX .bloq .green,
.vizX .bloq .greenR {
  color: black;
  background-color: #00ff00;
  -webkit-transition: all 0.3s ease;
}

.vizX .bloq4 { min-height: 386px; }
.vizX .bloq3 { min-height: 235px; }
.vizX .bloq2 { min-height: 135px; }

.bloq0 h4 { color: #00ff00; }
.bloq1 h4 { color: #C8C9F6; }
.bloq2 h4 { color: #E7CF33; }
.bloq3 h4 { color: #C6A46E; }
.bloq4 h4 { color: #BB98B4; }

.vizChart {
  display: none;
  background-color: white;
  height: 100%;
  width: 100%;
  top: 0;
  padding-top: 20px;
  position: absolute;
  z-index: 999;
}

.perdedores1, .perdedores3, .perdedores4 {
  font-family: 'Roboto Slab', serif;
  position: absolute;
  left: 100px;
  right: 47px;
  height: 230px;
  color: red;
  font-size: 200px;
  z-index: 999;
  opacity: 0.2;
  text-align: left;
}
.perdedores1 { top: 164px; }
.perdedores3 { top: 473px; }
.perdedores4 { top: 783px; }

.chart-container {
  background-color: white;
  top: 20px;
  left: 20px;
  width: 870px;
  height: 310px;
}

.sim-chart-container {
  background-color: white;
  top: 20px;
  width: 862px;
  height: 278px;
}

.simuladores_foto {
  width: 1140px;
  height: 424px;
  background-image: url('simuladores.png');
  transform: rotate(270deg);
  position: fixed;
  top: 300px;
  right: -780px;
}

.chart_derecha_1, .chart_derecha_3, .chart_derecha_4 {
  opacity: 0;
}

.winner_chart {
  text-align: center;
}
.winner_chart .mujer {
  width: 220px;
  height: 409px;
  margin: 0 -10px;
  display: inline-block;
}
.winner_chart .mujer.rojo {
  background: url('icon_red_mujer.png');
  background-size: contain;
  opacity: 0;
}
.winner_chart .mujer.verde {
  background: url('icon_green_mujer.png');
  background-size: contain;
  opacity: 0;
}

.chartB { opacity: 0; }
.chartB .mujer { margin: 0 -60px; }

.chartC { opacity: 0; }
.chartC .mujer { margin: 0 -60px -300px -60px; }
.chartD { opacity: 0; margin-top: 300px; }
.chartD .mujer { margin: 0px -60px -300px -60px; }
.chartE { opacity: 0; margin-top: 300px; }
.chartE .mujer { margin: 0px -60px -300px -60px; }
