body {
  color: black;
  text-align: center;
  font-family: 'Lora', serif;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.scrollDisplay {
  font-family: Arial;
  position: fixed;
  text-align: right;
  right: 5px;
  top: 5px;
  color: black;
  background-color: rgba(255,255,255,0.7);
  width: 200px;
  padding: 5px;
  z-index: 9999;
  display: none;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
  margin: 10px 0;
}
h1 span, h2 span, h3 span, h4 span, h5 span {
  color: red;
}
h1 { font-size: 100px; margin: 67px 0; }
h2 { font-size: 80px; }
h3 { font-size: 60px; }
h4 { font-size: 40px; }
h5 { font-size: 30px; }

.big {
  font-size: 80px;
}

.black-bg {
  background-color: black;
  width: 100%;
  color: white;
}

.spacer-25  { height: 25px;   clear: both; }
.spacer-50  { height: 50px;   clear: both; }
.spacer-100 { height: 100px;   clear: both; }
.spacer-200 { height: 200px;   clear: both; }
.spacer-300 { height: 300px;   clear: both; }
.spacer-400 { height: 400px;   clear: both; }
.spacer-500 { height: 500px;   clear: both; }
.spacer-600 { height: 600px;   clear: both; }
.spacer-700 { height: 700px;   clear: both; }

/* emojis */

.emoji_flotante {
  position: absolute;
  width: 400px;
  height: 400px;
  background-size: cover;
  opacity: 0;
}

.emoji_amor {
  background-image: url('emoji_amor.png');
  top: 20px;
  left: 150px;
}
.emoji_odio {
  background-image: url('emoji_odio.png');
  top: 20px;
  right: 150px;
}
.emoji_pensando {
  opacity: 0;
}

/* LISTA DE NOMBRES ALTERNATIVOS */
.align-right {
  text-align: right;
}
.red {
  color: red;
}
.nombres {
  font-family: 'Roboto Slab', serif;
  position: absolute;
  width: 100%;
  height: 500px;
  font-size: 70px;
}
.nombres .nombre {
  position: relative;
  clear: both;
}
.nombres .align-right {
  width: 700px;
  left: 50%;
  margin-left: -700px;
}
.nombres .red {
  width: 700px;
  left: 50%;
  text-align: left;
}
.nombres .nombre > div {
  position: absolute;
}
.nombres .nombre {
  display: none;
}
.nombres .nombre.n1 {
  display: block;
}

.petalo {
  position: absolute;
  width: 200px;
  height: 180px;
  margin: 0 auto;
  left: 50%;
  margin-left: -100px;
  margin-top: 30px;
}
.petalo:before,
.petalo:after {
  position: absolute;
  content: "";
  left: 100px;
  top: 0;
  width: 100px;
  height: 160px;
  background: #A0A0A0;
  border-radius: 100px 100px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.petalo:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.flor {
  position: absolute;
  width: 100%;
  text-align: center;
}

.agua {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #C8C9F6;
  left: 50%;
  margin-left: -100px;
  margin-top: -10px;
  z-index: 4;
}

.tierra, .aire, .fuego {
  transform-origin: top center;
  line-height: 100px;
  opacity: 1;
}
.tierra span, .aire span, .fuego span {
  position: absolute;
  display: none;
  z-index: 5;
}

.petalo.tierra { z-index: 3; }
.petalo.tierra:before, .petalo.tierra:after {
  background-color: #E7CF33;
}
.petalo.aire { z-index: 2; }
.petalo.aire:before, .petalo.aire:after {
  background-color: #C6A46E;
}
.petalo.fuego { z-index: 1; }
.petalo.fuego:before, .petalo.fuego:after {
  background-color: #BB98B4;
}

.ref {
  opacity: 0;
  text-align: left;
  position: absolute;
  margin-left: 50%;
  border-top: 4px solid black;
  font-family: 'Roboto Slab', serif;
  font-size: 80px;
}

.ref .subtexto {
  font-size: 30px;
}

.ref .titulo {
  display: inline-block;
  padding: 6px 20px 10px 20px;
}

.ref_agua {
  text-align: right;
  margin-top: 88px;
  border-color: #C8C9F6;
  color: #C8C9F6;
  width: 850px;
  z-index: 4;
}
.ref_agua .titulo {
  background-color: #C8C9F6;
  color: white;
}
.ref_tierra {
  margin-top: 255px;
  border-top: none;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-color: #E7CF33;
  color: #E7CF33;
  width: 820px;
  margin-left: 6%;
  z-index: 3;
}
.ref_tierra .titulo {
  background-color: #E7CF33;
  color: white;
}
.ref_aire {
  border-right: 4px solid;
  border-color: #C6A46E;
  color: #C6A46E;
  width: 730px;
  height: 260px;
  margin-top: -300px;
  margin-left: 5%;
  z-index: 2;
}
.ref_aire .titulo {
  background-color: #C6A46E;
  color: white;
}
.ref_fuego {
  margin-top: -160px;
  margin-left: 55%;
  border-color: #BB98B4;
  color: #BB98B4;
  z-index: 1;
  width: 600px;
  text-align: right;
}
.ref_fuego .titulo {
  background-color: #BB98B4;
  color: white;
}

.cash {
  z-index: 100;
  position: absolute;
  left: 904px;
  top: 10px;
  width: 116px;
  height: 72px;
  background-image: url('dinero.png');
  opacity: 0;
}
.cash.c1 { z-index: 110; }
.cash.c2 { z-index: 109; top: 22px;}
.cash.c3 { z-index: 108; top: 34px;}
.cash.c4 { z-index: 107; top: 46px;}
.cash.c5 { z-index: 106; top: 58px;}
.cash.c6 { z-index: 105; top: 70px;}
.cash.c7 { z-index: 104; top: 82px;}
.cash.c8 { z-index: 103; top: 94px;}

.video1, .video2 {
  display: none;
  position: absolute;
  z-index: 300;
}
.video1 {
  margin-top: -364px;
  margin-left: -809px;
}
.video2 {
  margin-top: -135;
  margin-left: 191px;
}

/* PIRAMIDE */
.piramide {
  text-align: center;
  opacity: 0;
}
.nivel {
}
.bloque {
  display: inline-block;
  background-color: red;
  height: 80px;
  position: relative;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 6px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.n1 .bloque { width: 320px; }
.n2 .bloque { width: 320px; }
.n3 .bloque { width: 240px; }
.n4 .bloque {  width: 118px; }
.n5 .bloque {  width: 61px; }
.n6 .bloque {  width: 36px; margin-left: 2px; margin-right: 2px; }
.n7 .bloque {  width: 22px; margin-left: 1px; margin-right: 1px; }
.n8 .bloque {  width: 12px; margin-left: 1px; margin-right: 1px; }
.n9 .bloque {  width: 5px; margin-left: 1px; margin-right: 1px; }
._agua    .bloque { background-color: #C8C9F6; }
._tierra  .bloque { background-color: #E7CF33; }
._aire    .bloque { background-color: #C6A46E; }
._fuego   .bloque { background-color: #BB98B4; }
.relleno {
  background: #10AB0C;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 0%;
  opacity: 0;
}
.piramide.vizMoney   ._fuego .relleno {
  height: 100%;
}
/* green #A3FFA3 */
/* red   #FFA4A4 */
.piramide.vizMoney   ._agua    .bloque { background-color: #C0C0C0; }
.piramide.vizMoney   ._tierra  .bloque { background-color: #C0C0C0; }
.piramide.vizMoney   ._aire    .bloque { background-color: #C0C0C0; }
.piramide.vizMoney   ._fuego   .bloque { background-color: #FFA4A4; }

.ganadores .bloque {
  /* careful!!!! SIZE OVERRIDEN IN CODE! */
  width: 20px;
  height: 40px;
  position: relative;
}
.ganadores .tmpSplit, .ganadores .tmpSplitB {
  width: 0;
}

.tmpSplit, .tmpSplitB {
  display: inline-block;
  width: 0;
}

.contadores {
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  font-size: 40px;
  z-index: 99;
  text-align: left;
  pointer-events: none;
}
.contadores > div {
  position: absolute;
  left: 30px;
}
.ganadoresNum, .perdedoresNum {
  font-weight: bold;
  display: block;
  font-size: 100px;
  line-height: 80px;
}

.contadores .ganadores {
  opacity: 0;
  color: #00AA00;
  top: 100px;
}
.contadores .perdedores {
  opacity: 0;
  color: #FF0000;
  bottom: 30px;
}

.simulaciones {
  width: 100%;
  height: 1080px;
  background-color: #707070;
}

.simulaciones .sim {
  width: 47.7%;
  height: 500px;
  background-color: white;
  float: left;
  margin: 30px;
  margin-right: 0;
  margin-bottom: 0;
}

.simulaciones .sim h5 {
  margin-top: -10px;
  color: #909090;
  margin-bottom: 0;
}

.simulaciones .sim .titulos {
  height: 105px;
  border-bottom: 2px solid #707070;
  width: 90%;
  margin: 0 auto;
}

.sim_data {
  padding: 10px 30px 30px 30px;
  text-align: left;
  font-size: 20px;
}

.sim_table {
  width: 100%;
  border: 1px solid black;
  background-color: black;
}
.sim_table .tabla_titulos td {
  font-weight: bold;
}
.sim_table td {
  padding: 2px;
  background-color: white;
}
.sim_table td.count, .sim_table td.right {
  text-align: right;
}
.sim_table .barContainer {
  position: relative;
  background-color: #404040;
}
.sim_table .bar {
  top: 0;
  left: 0;
  bottom: 0;
  width: 0%;
  background-color: gray;
  position: absolute;
  line-height: 24px;
  -webkit-transition: width 0.4s; /* Safari prior 6.1 */
}
.capital_0 .bar { background-color: red; }
.capital_1 .bar { background-color: yellow; }
.capital_2 .bar { background-color: #449944; }
.capital_3 .bar { background-color: #22BB22; }
.capital_4 .bar { background-color: #00CC00; }
.capital_5 .bar { background-color: #00FF00; }

.sim2 .capital_0 .bar { background-color: red; }
.sim2 .capital_1 .bar { background-color: #ff7700; }
.sim2 .capital_2 .bar { background-color: yellow; }
.sim2 .capital_3 .bar { background-color: #22BB22; }
.sim2 .capital_4 .bar { background-color: #00CC00; }
.sim2 .capital_5 .bar { background-color: BLACK; }

.floatRight {
  float: right;
  width: 48%;
}
.floatLeft {
  float: left;
  width: 48%;
}
.clear {
  clear: both;
}
.dato, .sim_table {
  margin-top: 20px;
}
